In [11]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import pandas as pd

In [12]:
path = "./Downloads/samplecar.csv"
dataset = pd.read_csv(path)

In [14]:
dataset.head()

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Type    10 non-null     object
 1   Price   10 non-null     object
 2   Buy     10 non-null     object
dtypes: object(3)
memory usage: 368.0+ bytes

In [16]:
dataset

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV   Hot  Yes

In [17]:
features = dataset.iloc[:,:-1]
target = dataset.iloc[:,-1:]
assert features.shape[0] == target.shape[0], "len(features) == len(target)"

In [18]:
print(features)

    Type Price
0    SUV     H
1     HB     H
2     HB     H
3     HB     L
4  SEDAN     H
5  SEDAN     L
6    SUV     L
7  SEDAN     H
8     HB     L
9    SUV   Hot

In [19]:
print(target)

   Buy
0   No
1   No
2  Yes
3   No
4  Yes
5  Yes
6   No
7  Yes
8  Yes
9  Yes

In [20]:
tot = len(dataset)
tot_n = dataset[dataset["Buy"] == "No"].shape[0]
tot_y = dataset[dataset["Buy"] == "Yes"].shape[0]
prob_y = tot_y/tot
prob_n = tot_n/tot
print(prob_y, prob_n)
H_tot = -prob_y * np.log2(prob_y) - prob_n * np.log2(prob_n)
H_tot

0.6 0.4

0.9709505944546686

In [29]:
type = dataset["Type"].unique()
suv = dataset[dataset["Type"]=="SUV"]
tot_suv = len(suv)
prob_suv = tot_suv/tot
tot_suv_yes = suv[suv["Buy"] =="Yes"].shape[0]
tot_suv_no=   suv[suv["Buy"] =="No"].shape[0]
prob_suv_yes = tot_suv_yes/tot_suv
prob_suv_no = tot_suv_no/tot_suv
H_type_suv = -prob_suv_yes * np.log2(prob_suv_yes) - prob_suv_no * np.log2(prob_suv_no)
print(H_type_suv)

0.9182958340544896

In [30]:
type = dataset["Type"].unique()
HB = dataset[dataset["Type"]=="HB"]
tot_HB = len(HB)
prob_HB = tot_HB/tot
tot_HB_yes = HB[HB["Buy"] =="Yes"].shape[0]
tot_HB_no=   HB[HB["Buy"] =="No"].shape[0]
prob_HB_yes = tot_HB_yes/tot_HB
prob_HB_no = tot_HB_no/tot_HB
H_type_HB = -prob_HB_yes * np.log2(prob_HB_yes) - prob_HB_no * np.log2(prob_HB_no)
print(H_type_HB)

1.0

In [31]:
type = dataset["Type"].unique()
SEDAN = dataset[dataset["Type"]=="SEDAN"]
tot_SEDAN = len(SEDAN)
prob_SEDAN = tot_SEDAN/tot
tot_SEDAN_yes = SEDAN[SEDAN["Buy"] =="Yes"].shape[0]
tot_SEDAN_no=   SEDAN[SEDAN["Buy"] =="No"].shape[0]
prob_SEDAN_yes = tot_SEDAN_yes/tot_SEDAN
prob_SEDAN_no = tot_SEDAN_no/tot_SEDAN
H_type_SEDAN = -prob_SEDAN_yes * np.log2(prob_SEDAN_yes) - prob_SEDAN_no * np.log2(prob_SEDAN_no)
print(H_type_SEDAN)

nan

<ipython-input-31-03c2daba6b2d>:9: RuntimeWarning: divide by zero encountered in log2
  H_type_SEDAN = -prob_SEDAN_yes * np.log2(prob_SEDAN_yes) - prob_SEDAN_no * np.log2(prob_SEDAN_no)
<ipython-input-31-03c2daba6b2d>:9: RuntimeWarning: invalid value encountered in double_scalars
  H_type_SEDAN = -prob_SEDAN_yes * np.log2(prob_SEDAN_yes) - prob_SEDAN_no * np.log2(prob_SEDAN_no)

In [33]:
I_type = prob_suv * H_type_suv + prob_HB * H_type_HB
print(I_type)

0.6754887502163469

In [34]:
IG = H_tot - I_type

In [35]:
print(IG)

0.29546184423832167

In [37]:
price = dataset["Price"].unique()
high = dataset[dataset["Price"]=="H"]
tot_high = len(high)
prob_high = tot_high/tot
tot_high_yes = high[high["Buy"] =="Yes"].shape[0]
tot_high_no=   high[high["Buy"] =="No"].shape[0]
prob_high_yes = tot_high_yes/tot_high
prob_high_no = tot_high_no/tot_high
H_price_high = -prob_high_yes * np.log2(prob_high_yes) - prob_high_no * np.log2(prob_high_no)
print(H_price_high)

0.9709505944546686

In [38]:
price = dataset["Price"].unique()
low = dataset[dataset["Price"]=="L"]
tot_low = len(low)
prob_low = tot_low/tot
tot_low_yes = low[low["Buy"] =="Yes"].shape[0]
tot_low_no=   low[low["Buy"] =="No"].shape[0]
prob_low_yes = tot_low_yes/tot_low
prob_low_no = tot_low_no/tot_low
H_price_low = -prob_low_yes * np.log2(prob_low_yes) - prob_low_no * np.log2(prob_low_no)
print(H_price_low)

1.0

In [41]:
I_price = prob_high * H_price_high + prob_low * H_price_low
print(I_type)

0.8854752972273343

In [42]:
IG_price = H_tot - I_price

In [45]:
print (IG_price)

0.08547529722733427